---
import ContactForm from "../components/Contact/ContactForm.astro";
import ContactInfo from "../components/Contact/ContactInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  description="Contact our team to learn more about how we can help you."
  title="Contact · Stone"
>
  <ContactInfo />
  <!-- <ContactForm /> -->
  <section>
    <div class="ml-4" data-tf-live="01K2VF0WAEDW4SDGTSX813W9GJ"></div><script
      src="//embed.typeform.com/next/embed.js"  is:inline></script>
  </section>
</Layout>
