---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";


// Filter team entries with 'draft: false' & date before current date
const publishedFeesStructure = await getCollection("services");


---

<Layout title="Services">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Services</Fragment>
      <Fragment slot="desc">Services we provide.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 mb-16">
      {
        publishedFeesStructure.map((fees) => (
          <div class="group">
            <div class="w-full aspect-square bg-white rounded-xl shadow-2xl p-4 flex flex-col justify-center items-center">
              <p>{fees.data.name}</p>
              <p class="text-center">{fees.data.features.subjects}</p>
              <p>{fees.data.classes}</p>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
  
 
</Layout>
