---
// No frontmatter needed if you're just displaying an image
---

<section class="w-full bg-white py-8">
    <div class="max-w-full mx-auto px-4">
      <img
        src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1746865004/ChatGPT_Image_May_10_2025_01_45_35_PM_srx1xu.png"
        alt="5 Science Subjects for ₹2400"
        class="w-full "
        loading="lazy"
      />
    </div>
  </section>
  