---


---

<main class="max-w-6xl p-4 md:p-16 mx-auto">
    <h1 class="text-4xl font-bold text-center">Capturing the Magic of Education: Advantage Academic Center's Photo Gallery</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
        <img class="h-full" src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1713085020/Aaccent/lo7ejjqsekqgxn6slyyd.jpg" alt="" />
        <img class="h-full" src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1713084512/Aaccent/holu1asphyeomjbpahmy.jpg" alt="" />
        <img src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1705163557/Aaccent/y5yytlhy1ppa9pr7d3yq.jpg" alt="" />
        <img class="h-full" src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1713085112/Aaccent/o2kv5aveqpk7kekfabd1.jpg" alt="" />
        <img src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397011/Aaccent/uxclyask1ylacycgqqcj.jpg" alt="" />
        <img class="h-full" src="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1705152077/Aaccent/c8xldeivaha5c4qns3hf.jpg" alt="" />
    </div>
</main>