---

---

<div class="flex flex-col gap-3 mx-auto max-w-5xl my-16 p-4">
  <h2 class="font-bold text-3xl text-gray-800">Why Us</h2>
  <p class="text-lg leading-relaxed text-slate-500">
    Are you frustrated with your child's underwhelming academic performance?
    Deep down, you recognize your child's untapped potential. Despite your
    efforts to offer them the best possible guidance, many coaching centers lack
    consistent and qualified teachers, resulting in a waste of valuable time due
    to frequent teacher changes. The substantial student-teacher ratio in these
    centers hardly benefits your child. Conversely, hiring an inexperienced home
    tutor may only offer insufficient guidance and limited exposure to
    competitive environments.
  </p>
</div>
