---
const { title } = Astro.props

import Nav from "../components/Nav"
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'MEASUREMENT_ID');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
    
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
    <link rel="icon" href="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397008/Aaccent/ozsltpw9rdp9hprglhwv.jpg" type="image/x-icon">
    <meta title={title} />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7891965950924609"
     crossorigin="anonymous"></script>
  </head>
  <body class="">
    <Nav client:load />
  
  </body>
</html>
<main>
  <slot />
  <!-- your content is injected here -->
  <Footer />
</main>


