---
const { title } = Astro.props;

declare global {
  interface Window {
    dataLayer: any;
    gtag: (...args: any[]) => void;
    Tawk_API: any;
    Tawk_LoadStart: Date;
    fbq: Function;
  }
}

import Nav from "../components/Nav";
import Footer from "../components/Footer.astro";

// Move Facebook Pixel script to the client-side script
const fbPixelScript = `
(function(f, b, e, v, n, t, s) {
  if (f.fbq) return;
  n = f.fbq = function() {
    n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
  };
  if (!f._fbq) f._fbq = n;
  n.push = n;
  n.loaded = !0;
  n.version = "2.0";
  n.queue = [];
  t = b.createElement(e);
  t.async = !0;
  t.src = v;
  s = b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t, s);
})(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");

fbq("init", "634209396142752");
fbq("track", "PageView");
`;

const canonicalURL = 'https://www.aaccent.in' ;
---

<html lang="en">
  <head>
    <link rel="canonical" href={canonicalURL} />
    <!-- Google Tag Manager -->
    <script type="text/javascript">
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != "dataLayer" ? "&l=" + l : "";
        j.setAttribute("async", "true");
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        if (f.parentNode) {
          f.parentNode.insertBefore(j, f);
        }
      })(window, document, "script", "dataLayer", "GTM-5F9F83VC");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-616714365"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-616714365");
    </script>
    <!-- End Google tag -->

    <!-- Meta Pixel Code -->
    <script type="text/javascript" set:html={fbPixelScript}></script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=634209396142752&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Meta Pixel Code -->

    <!-- Google Analytics (with Partytown) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-6KV5M94RRH">
    </script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-6KV5M94RRH");
    </script>
    <!-- End Google Analytics -->

    <!-- Google Analytics (G-BWWW3WGD7K) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BWWW3WGD7K" is:inline>
    </script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(...args){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BWWW3WGD7K');
    </script>
    <!-- End Google Analytics (G-BWWW3WGD7K) -->

    <!-- Google AdSense -->
    <script 
      async 
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9824737076150181"
      crossorigin="anonymous">
    </script>
    <!-- End Google AdSense -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Advantage Academic Center - Empowering Students with Expert Tutoring, Comprehensive Courses, and Engaging Lectures for Academic Excellence."
    />
    <link
      rel="icon"
      href="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397008/Aaccent/ozsltpw9rdp9hprglhwv.jpg"
      type="image/x-icon"
    />
    <title>{title}</title>
  </head>
  <body>
    <Nav client:load />
    
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5F9F83VC"
        height="0"
        width="0"
        style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <main>
      <slot />
      <!-- your content is injected here -->
      <Footer />
    </main>

  
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/689b74756bcc0c19249978ef/1j2fjtrqc';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    
  </body>
</html>
