---
const { title } = Astro.props

import Nav from "../components/Nav"
import Footer from "../components/Footer.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
    
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
    <link rel="icon" href="https://res.cloudinary.com/dvjbrjvgf/image/upload/v1703397008/Aaccent/ozsltpw9rdp9hprglhwv.jpg" type="image/x-icon">
    <meta title={title} />
  </head>
  <body class="">
    <Nav client:load />
    
  </body>
</html>
<main>
  <slot />
  <!-- your content is injected here -->
  <Footer />
</main>
